/* style guide */
body {
  margin: 0;
  padding: 0;
  background-color: #d9b5a3;
}

.journal-text a:hover {
  text-transform: uppercase;
}

.all-carousels a:hover {
  text-transform: uppercase;
}

/** navigation **/
.nav ul {
 background-color: #d9b5a3;
 display: inline-block;
 list-style-type: none;
 padding-top: 10px;
 margin: auto;
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 10px;
}

.nav li {
  padding-left: 10px;
  padding-right: 10px;
  color: #5d3622;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Delius Unicase', bold;
  opacity: 1;
}

.nav a {
  text-decoration: none;
  color: #5d3622;
}

.nav .bookmark a {
  text-decoration: underline;
}

.nav .left {
  display: inline-flex;
}

.nav .right {
  float: right;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d9b5a3;
  opacity: .8;
  z-index: 100;
}
/* header */
.header {
  background-color: #5d3622;
}

.header img {
  width: 700px;
  display: flex;
  margin: auto;
}

/* styling the first carousel */

.all-carousels {
  width: 1000px;
  margin: auto;
}

.all-carousels a {
  text-decoration: none;
  color: #5d3622;
}

.carousel1 img {
  width: 240px;
  border-width: 10px;
  border-style: solid;
  border-color: #9c7562;
}

.carousel1 .owl-carousel .fountain {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel1 .owl-carousel .sunset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel1 {
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-text {
  padding: 10px;
  font-family: 'Patrick Hand';
  font-size: 24px;
  color: #5d3622;
}

.carousel-text a {
  border-width: 3px;
  border-style: solid;
  border-color: #5d3622;
  padding: 5px;
  margin: 10px;
}

.fountain .carousel-text a {
  float: right;
}

.sunset .carousel-text a {
  float: left;
}

/* carousel 2 */

.carousel2 img {
  width: 240px;
  border-width: 10px;
  border-style: solid;
  border-color: #9c7562;
}

.carousel2 .owl-carousel .flowers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel2 .owl-carousel .sleep {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel2 {
  padding-right: 20px;
  padding-left: 20px;
}

.sleep .carousel-text a {
  float: right;
}

.flowers .carousel-text a {
  float: left;
}

/* footer style */
footer {
  color: #5d3622;
  font-family: 'Patrick Hand';
  text-size: 8px;
  text-align: center;
}

/* styling journal */

.journal-head {
  height: 180px;
  font-family: 'Delius Unicase';
  font-weight: bold;
  font-size: 24px;
  color: #5d3622;
  background-color: #9c7562;
}

.journal-head img {
  width: 300px;
  margin: none;
}

.cursive-and-number {
  width: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  float: center;
  margin: auto;
}

.journal-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  width: 1000px;
  margin: auto;
}

.journal-image {
  width: 500px;
  margin: auto;
}

.journal-body img {
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.journal-body p {
  width: 500px;
  margin-top: 0;
  margin-bottom: 0px;
}

.journal-text {
  font-family: 'Patrick Hand';
  color: #5d3622;
  font-size: 24px;
  margin: none;
}

.journal-text a {
  text-decoration: none;
  color: #5d3622;
  border-style: solid;
  border-color: #5d3622;
  border-width: 3px;
  padding: 5px;
  float: right;
}
