body {
  margin: 0;
  padding: 0;
  background-color: #d9b5a3;
}
/** navigation **/
.nav ul {
 background-color: #d9b5a3;
 display: inline-block;
 list-style-type: none;
 padding-top: 10px;
 margin: auto;
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 10px;
}

.nav li {
  padding-left: 10px;
  padding-right: 10px;
  color: #5d3622;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Delius Unicase', bold;
  opacity: 1;
}

.nav a {
  text-decoration: none;
  color: #5d3622;
}

.nav .bookmark a {
  text-decoration: underline;
}

.nav .left {
  display: inline-flex;
}

.nav .right {
  float: right;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d9b5a3;
  opacity: .8;
}
/* header */
.header {
  background-color: #5d3622;
}

.header img {
  width: 700px;
  display: flex;
  margin: auto;
}

/* styling the first carousel */

.all-carousels {
  width: 1000px;
  margin: auto;
}

.carousel1 img {
  width: 240px;
  border-width: 10px;
  border-style: solid;
  border-color: #9c7562;
}

.carousel1 .owl-carousel .fountain {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel1 .owl-carousel .sunset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel1 {
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-text {
  padding: 10px;
  font-family: 'Patrick Hand';
  font-size: 24px;
  color: #5d3622;
}

.carousel-text a {
  border-width: 3px;
  border-style: solid;
  border-color: #5d3622;
  padding: 5px;
  margin: 10px;
}

.fountain .carousel-text a {
  float: right;
}

.sunset .carousel-text a {
  float: left;
}

/* footer style */
footer {
  color: #5d3622;
  font-family: 'Patrick Hand';
  text-size: 8px;
  text-align: center;
}
